



<div class="header"> 
  <div class="container login-container"></div>
    <h2>Sign up</h2>
    <form action="/auth/signup" method="POST" id="form-container">
    <label for="email">Email</label> <br>
    <input id="email" type="text" name="email" placeholder="JonSnow" class="habit-input">

    <br><br>

    <label for="password">Password</label> <br>
    <input id="password" type="password" name="password" placeholder="Your password" class="habit-input">
    <br>
    {{#if message }}
      <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button class="form-btn">Create account</button>
  </form>

  </div>
  </div>


<div class="main-container home-container">


</div>
