<h1>Profile:</h1>

<img src="{{user.avatarImgPath}}" alt="">


<h2>Total Points: </h2>
<h2></h2>



<form action="/uploadAvatarImg/{{user.id}}" method="post" enctype="multipart/form-data">
  <input type="file" name="photo">
  <br>
  <input type="submit" value="SAVE">
</form>




