
{{#if isConnected}}
<h2>Welcome, {{currentUser.email}} </h2>
{{else}}
<h3>You are not currently logged in</h3>
{{/if}}

<div class="goals-wrapper">
  {{#each goals}}
  <div class="goal">
    <h1>{{this.title}}</h1>

    <div class="chart-wrapper">
        {{#each this.history}}
           <div class="square color-code-{{this}}"></div>
       {{/each}}
    </div>

    <form action="" method="POST">
      <button>I did this today.</button>
    </form>

  </div>
  {{/each}}
</div>