<h2>Set a New Goal</h2>
<h5><em>Logged in as user {{currentUser.email}}</em></h5>

<form action="/new-goal" method="POST">

<label for="title">Title</label>
<input type="text" name="title">

<button type="submit">Create Goal!</button>
</form>