<div class="create-coal-bg">
  <div class="create-coal-container">
<h2>Set a New Goal</h2>
<h5><em>Logged in as user {{currentUser.email}}</em></h5>
<form action="/new-goal" method="POST">
<label for="title">Title</label>
<input type="text" name="title">

<select name="frequency">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
</select>


<button type="submit">Create Goal!</button>
</form>

  </div>

</div>