<div class="header">
  <div class="create-coal-bg">
    <div class="create-coal-container">
      <h2>Set A New Habit</h2>
      <h5><em>Logged in as user {{currentUser.email}}</em></h5>
      <form action="/new-goal" method="POST">
      <input type="text" name="title" placeholder="Your new habit" class="habit-input">
      <br>
      <label for="">How many times per week will you do this?</label>
      <br>
      <select name="frequency">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
      <button class="form-btn"type="submit">Create Habit!</button>
      </form>
    </div>  
  </div>
</div>

<div class="main-container home-container">
<h1>test</h1>
</div>