<div class="header">
  <h2>Your success is the results of you habits.</h2>
</div>

<div class="main-container home-container">
  <div class="signed-out-btn-div">
    <a href="/auth/login">Log in</a>
    <a href="/auth/signup">Signup</a>
  </div>
</div>