<div class="header">
  <h2 class="header-h2">Success is the direct result of habits.</h2>
</div>

<div class="main-container home-container">
  <div class="signed-out-btn-div">
    <a href="/auth/login">Log in</a>
    <a href="/auth/signup">Signup</a>
  </div>
  <div class="signed-out-text">
    <h1><i class="fas fa-check logo"> &nbsp</i>IronHabit</h1>
    <p>There is nothing that is more influential on your life than your habits. They have made you the person you are are and led you to your current life situation. With IronHabit you can make sure that your habits is leading you to the life, the goals and the success that you want. </p>

  </div>

</div>