body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// .square {
//   width: 5px;
//   height: 5px;
//   margin: 5px;
//   background-color: black;
// }

.square {
  background-color: #444;
  color: #fff;
  border: solid 1px black;

  border-radius: 2px;
  /* padding: 20px; */
  /* font-size: 150%; */
}

.chart-wrapper {
  padding: 5px;
  width: 300px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7 ,15px);
  grid-template-rows: repeat(6, 15px);
  grid-auto-flow: row;
}

.goals-wrapper {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  border: 1px solid black;
}

.goal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  padding: 20px;
  margin: 20px 0;
}

.color-code-0 {
  background-color: #ecf0f1;
}

.color-code-1 {
  background-color: #27ae60;
}

