// General Styles ***************************************
@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,700');

* {
  font-family: 'Archivo', sans-serif;
}

body {
  font-family: 'Archivo', sans-serif;
  background: #222121;
}

a {
  color: #00B7FF;
}

.bg-primary {
  background: #222121 !important;
}

button:focus {
  outline:0;
}

select:focus {
  outline:0;
}

button:hover {
  cursor: pointer;
}

.logo {
  font-size: 30px;
}

/* ================================= 
  General Styles
==================================== */
.header {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-90deg, rgba(46, 204, 113, 0), rgba(46, 204, 113, 0)), url('../images/bg7.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-bottom: -23px;
  height: 500px;
  color: white;
  
}

.about-text {
  color: white;
}

  
  .main-container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
  }

  
  #navbarTogglerDemo02 {
    margin-bottom: 0;
  }
  
  .nav-link {
    text-align: right;
  }
/* ================================= 
  Profile Page Styles 
==================================== */

.bar-container {
  width: 90%;
  margin: 0 auto;
}

.profile-container{
  padding: 30px 15px;
}

.encourage-message {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.main-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container form input{
  margin-right: auto;
  width: 90px;
}

#pie-chart {
  width: 200px !important;
  height: 200px !important;
  margin-bottom: 20px;
}

#bar-graph {
  width: 330px !important;
  height: 300px !important;
  margin-bottom: 20px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.stats-component {
  color: #068587;
  width: 90%;
  border-bottom: solid 3px #068587;
  margin-bottom: 20px;
}

.stats-component {
  font-size: 20px;
}

/* ================================= 
  Home Page Styles
==================================== */
.welcome-message {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}

.home-container {
  background: #222121;
  min-height:calc(100vh - 500px);
  padding: 30px 10px;
}
.square {
  background-color: #444;
  color: #fff;
  border: solid 1px black;
  border-radius: 2px;
  width: 35px;
  height: 20px; 
}

.chart-wrapper {
  display: grid;
  grid-gap: 7px 22px;
  grid-template-columns: repeat(7 ,15px);
  grid-template-rows: repeat(6, 15px);
  grid-auto-flow: row;
  margin-top: 10px;
}

.chart-wrapper span {
  text-align: center;
  margin: 0 auto;
  width: 35px;
}
.goal:first-child {
  margin-top: 0;
}

.goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  padding: 45px 10px 20px 10px;
  margin: 20px 0;
  border-radius: 20px;
  background: white;
  width: 100%;
  position: relative;
}
.goal-title {
  text-align: center;
  font-size: 22px;
  margin-top: 0px;
  border-bottom: solid black 2px;

}

.color-code-0 {
  background-color: #ecf0f1;
}

.color-code-1 {
  background-color: #068587;
}

.goal-stats-component {
  border: solid 1 px red;
  display: flex;
  flex-direction: column;
}

.goal-stats-component h4 {
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
  margin-top: 15px;
}

.goal-stats-component h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.color-code-today-active {
  background-color: #99BE7F;
  border: 2px solid black;
}

.color-code-today-inactive {
  background-color: #ecf0f1;
  border: 2px solid black;
}

.did-habit-btn {
  background-color: white;
  border: none;
  color: #068587;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 82px;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* ================================= 
Signed Out Styles 
==================================== */
.signed-out-btn-div {
  width: 100%;
}
.signed-out-btn-div a {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  background: #068587;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
}

/* ================================= 
create Goals Styles Styles 
==================================== */
.habit-input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  background: #222121;
  color: white;
}

.form-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  background: #068587;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  border: #222121;
}

// Login Styles

.login-container {
  width: 300px;

}
.create-coal-container {
  width: 70%;
  margin: 0 auto; 
}
  

  /* ================================= 
    Media Queries
  ==================================== */
  
  @media (min-width: 769px) { 


    .profile-container{
    padding: 0 30px;
    }

    .encourage-message {
      font-size: 40px;
    }
    
    .home-container {
      padding: 50px 100px;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .home-container>* {
      flex: 1 1 330px;
  }

    .goal {
      // width: 400px;
      // margin-top: 0;
      // flex-grow: 1;
      margin: 20px;
    }
  
    .goal:first-child {
      margin-top: 20px;
    }


    .goal-title {
      font-size: 27px;
    }

    .welcome-message {
      
      font-size: 50px;
  
    }
  } 
  
  @media (min-width: 1010px) {
  
  #pie-chart {
    width: 400px !important;
    height: 400px !important;
    margin-bottom: 20px;
  }
  
  #bar-graph {
    width: 1000px !important;
    height: 600px !important;
    margin-bottom: 20px;
  }
  
  .daily-consistency {
    width: 310px;
    height: 310px;
  }

  .bar-container {
    width: 70%;
    margin: 0 auto;
  }
}