// General Styles ***************************************
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.square {
  background-color: #444;
  color: #fff;
  border: solid 1px black;
  border-radius: 2px;
}

.chart-wrapper {
  padding: 5px;
  width: 300px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7 ,15px);
  grid-template-rows: repeat(6, 15px);
  grid-auto-flow: row;
}

.goals-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.goal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  padding: 20px;
  margin: 20px 0;
}

.color-code-0 {
  background-color: #ecf0f1;
}

.color-code-1 {
  background-color: #27ae60;
}

.color-code-today-active {
  background-color: #27ae60;
  border: 2px solid black;
}

.color-code-today-inactive {
  background-color: #ecf0f1;
  border: 2px solid black;
}




.bg-primary {
  background: #2ecc71 !important;
}


// Profile Page Styles ***************************************

.profile-img-container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-image: url("../images/bg.jpeg");
  // background-image: linear-gradient(rgba(0,50,0,.2), rgba(0,50,0,.2));
  background-image: linear-gradient(-90deg, rgba(46, 204, 113, 0), rgba(46, 204, 113, 0)), url('../images/bg7.jpg');

  // background-color: #cccccc; /* Used if the image is unavailable */
  // height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-bottom: -23px;
  

}

.encourage-message {
  color: #068587;
  font-size: 30px;
  width: 200px;
  margin-bottom: 20px;
}

.profile-container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
}

.profile-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;

}

.profile-container form input{
  margin-right: auto;
  width: 90px;
}

#myChart {
  width: 200px !important;
  height: 200px !important;
  margin-bottom: 20px;

}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.stats-component {
  color: #068587;
  width: 90%;
  border-bottom: solid 3px #068587;
  margin-bottom: 20px;
}

.stats-component {
  font-size: 20px;
}
