
<div class="header">

<h2>Habit Tracker</h2>

<p>If there's something worth doing, it's worth doing today...and tomorrow, and the day after.</p>
<p>Habits are actions we take every day. It might be a struggle at first, but with practice it will become second nature</p>
<p>This app is here to help keep track of your progress.</p>

</div>

<div class="main-container home-container">

</div>