
<div class="header">


</div>

<div class="main-container home-container">

  <div class="about-text">

  <h1>Habit Tracker</h1>

<p>If there's something worth doing, it's worth doing today...and tomorrow, and the day after.</p>
<p>Habits are actions we take every day. It might be a struggle at first, but with practice it will become second nature</p>
<p>This app is here to help keep track of your progress.</p>
<br>

<h1>How it Works</h1>

<p>Create a new Habit by giving it a title and declaring how many times per week you aim to do the habit. Be ambitious, but realistic: the app will keep track of your weekly successes (and failures), as well as your daily progress.</p>
<p>All your active habits are on the home page. Log your daily activity by clicking the clock icon. When you do your habit for the day, press the <bold>Clock button</bold>, and the calendar will update. </p>
<br>

<h1>Points, you say?</h1>
<p>Yes, points. Who doesn’t love points. You will earn points each time you complete a daily activity. Here is where consistency pays off. </p>
<p>By doing the the same habit many days in a row, the point value for the Habit will increase 1 point per day.  </p>

<p> The first day you do a habit, it’s worth 1 point. The second day in a row, it’s worth 2 points, the third day in a row, 3 points and so on. </p>

<p> <strong>The best way to accumulate points is to make a streak and regularly do your habits. </strong> </p>

<p>If you break the streak, the point value for the habit will return to 1. Sad.  </p>
<br>
<h1>Progress</h1>

<p>On your profile you can see some quick stats about your past performance, including your consistency across weeks and days. </p>

<br>
<h1>Clichés</h1>

<p>Sometimes the clichés are true. Every long journey begins with a single step. You can build the future you want one day and one habit at a time. </p>
</div>
</div>
